<html>

<body>
  <h1 style="text-align: center;">Flight Management System</h1>
  <div style="text-align: center;">
    <button (click)="checkavailability()">Check Availability</button>
  </div>
  <br>
  <div  style="text-align: center;" *ngIf="showAvailability" >
    <h4>Available Flights</h4>
    <table align=center width=50% bgcolor=lightyellow border=1>
      <tr>
        <th>Flight_no</th>
        <th>Flight_model/th>
        <th>Carrier_name</th>
        <th>Seat_capacity</th>
        <th>Flight_state</th>
        <th>Book Flight</th>
      </tr>
      <tr align=center *ngFor="let flight of flightData">
        <td>{{flight.flightNum}}</td>
        <td>{{flight.model}}</td>
        <td>{{flight.carrierName}}</td>
        <td>{{flight.seatCapacity}}</td>
        <td>{{flight.state}}</td>
        <td><button>Book</button></td>
      </tr>
    </table><br>
    <button (click)="cancel()">Cancel</button>
  </div>
</body>

</html>